.container {
    background-color: yellow;
    display: flex;
    padding: 0.5rem;
    overflow: hidden;
    height: 100%;
}

.mockContent {
    height: 300%;
    width: 100%;
    padding: 20%;
}

.mockPara {
    width: 100%;
    margin-bottom: 2rem;
}

.mockPara:nth-child(even) {
    transform: scaleX(-1) rotate(2deg);
}
.mockPara:nth-child(odd) {
    transform: rotate(2deg);
}

.mockPara img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.containerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.beforeWindow,
.afterWindow {
    --from: var(--color-bg);
    --to: var(--color-bg-fade);
}

.beforeWindow {
    background: linear-gradient(var(--from) 0%, var(--to) 90%);
    flex: 1;
}

.afterWindow {
    background: linear-gradient(var(--to) 0%, var(--from) 90%);
    flex: 1;
}

.window {
    /* flex: 1; */
    aspect-ratio: 4/3;
    border: 2px solid black;
    position: relative;
}

@supports not (aspect-ratio: 4/3) {
    .window::before {
        float: left;
        padding-top: 75%;
        content: '';
    }

    .window::after {
        display: block;
        content: '';
        clear: both;
    }
}

.windowHeader {
    padding: 0;
    margin: 0;
    top: 0;
    height: 10%;
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.25rem;
}

.windowHeader span {
    margin-right: 0.25rem;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
    border-radius: 100rem;
}

.windowHeader span:nth-child(1) {
    background-color: rgb(250, 103, 58);
}

.windowHeader span:nth-child(2) {
    background-color: rgb(250, 199, 58);
}
.windowHeader span:nth-child(3) {
    background-color: rgb(161, 252, 119);
}
