.label {
    margin: 0 0 calc(var(--ru) * 1rem);
    display: block;
    color: var(--color-text);
}

.label input {
    font-family: var(--font-body);
    display: block;
    width: 100%;
}

.label span {
    font-size: 1.5rem;
}

.container {
    margin-bottom: calc(var(--ru) * 1rem);
}

input[type='range'] {
    --track-height: 0.5rem;
    --thumb-height: 2rem;
    -webkit-appearance: none;
    margin: 1rem 0;
    width: 100%;
    background: transparent;
}
input[type='range']:focus {
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: var(--color-text);
    border-radius: 100rem;
}
input[type='range']::-webkit-slider-thumb {
    height: var(--thumb-height);
    width: var(--thumb-height);
    border-radius: 100rem;
    background: var(--color-text);
    box-shadow: 0 0 0 0.25rem var(--color-bg);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc(var(--thumb-height) / 2 * -1 + var(--track-height) * 0.5);
}
input[type='range']:focus::-webkit-slider-runnable-track {
    background: black;
}

input[type='range']::-moz-range-progress {
    background: transparent;
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background: var(--color-text);
    border-radius: 100rem;
}
input[type='range']::-moz-range-thumb {
    height: var(--thumb-height);
    width: var(--thumb-height);
    border-radius: 100rem;
    border: none;
    background: var(--color-text);
    box-shadow: 0 0 0 0.25rem var(--color-bg);
    cursor: pointer;
}
