.main {
    position: absolute;

    width: 25%;
    height: 15%;
    left: 8%;
    background-color: blue;

    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
