:root {
    --font-size: 12px;
    --ru: 1.5;
    --font-body: 'EB Garamond', serif;

    --page-margin: calc(2rem * var(--ru));
    --page-margin-mid: calc(3rem * var(--ru));

    --color-bg: #fff4f4;
    --color-bg-fade: #fff4f4dd;
    --color-text: #3e3e3e;
    --color-text-fade: #3e3e3e88;
    --color-link: #e00202;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-size: var(--font-size);
    line-height: var(--ru);
}
